<!doctype html>
<head>
    <title>Adding</title>
    <link rel ='stylesheet' type="text/css" href="{{ url_for('static', filename ='addbg.css' )}}">
</head>

<body>
 <input class="button goHome" type="button" value="Home" onclick="window.location.href='/'" /><br>
    <div class="center">
        <form action = "{{ url_for('add_student') }}" method="post">
       <h1> Add a New Student </h1>
        ID Number
        <input type = "text" placeholder="Enter ID Number" name ="idNo" maxlength="9" minlength="9" required/></br>
        First Name
        <input type ="text" placeholder="First Name" name ="firstName" minlength="1" maxlength="24" required/></br>
        Middle Name
        <input type ="text" placeholder="Middle Name" name ="middName" minlength="1" maxlength="24" required/></br>
        Last Name
        <input type ="text" placeholder="Last Name" name ="lastName" minlength="1" maxlength="24" required/></br>
        Course
        <input type ="text" placeholder="Course e.g 'BSCS', 'BSBio' " name ="course" minlength="1" maxlength="30" required/><br>
        Year Level
        <input type ="text" placeholder="Year Level" name ="yrLevel" min="1" max="5" required/></br>
        Gender<br>
       <input type="radio" name="gender" value="Male" required> Male
       <input type="radio" name="gender" value="Female" required> Female
        <input type="radio" name="gender" value="Other" required> Other

       <br><input type ="submit" value ="Add Student"/><br>
             <a href = "/managestud"><input class= "button backButton" type = "button" value = "Back" /></a>

    </form>
    </div>

</body>