<!doctype html>

<html>
<head>
    <title>Courses</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename ='update.css') }}">
</head>
   <body>
      <div class="center">
          <table id="students">
         <thead>
            <th>Course ID</th>
            <th>Course Description</th>

         </thead>

         {% for row in rows %}
            <tr>
               <td>{{row["course_id"]}}</td>
               <td>{{row["courseDesc"]}}</td>


            </tr>
         {% endfor %}
      </table>
     <h2>{{ mem }}</h2>
      <h1><a href = "/"><input class="button goHome" type = "button" value = "Home" /><br></a></h1>
      </div>


   </body>
</html>