<!doctype html>
<html>
<head>
    <title>All Students</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'table.css')}}">
</head>
   <body>
 <input class="button goHome" type="button" value="Home" onclick="window.location.href='/'" /><br>
      <div class="center">
      <h1> List of All Students</h1>
          <table id = students>
         <tr>
            <th>ID Number</th>
             <th>First Name</th>
             <th>Middle Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Course</th>
             <th>Year Level</th>
         </tr>

         {% for row in rows %}
            <tr>
               <td>{{row["idNo"]}}</td>
               <td>{{row["firstn"]}}</td>
               <td> {{ row["midname"]}}</td>
                <td>{{row['lastn']}}</td>
               <td>{{row['gnder']}}</td>
               <td>{{ row['crse']}}</td>
                <td>{{row['yrlevel']}}</td>
            </tr>
         {% endfor %}
      </table>

      </div>

   </body>
</html>