<!doctype html>
<html>
<head>
    <title>Delete</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'delete.css')}}">
</head>
  <body>
    <div class="center">
      <h1>Delete a Student</h1>

      <form action="{{url_for('delete_stud')}}" method = "post">

          Enter ID no:
          <input type="text" name = "idNo"><br>
          <input type = "submit" name = "submit" /><br>
             <a href = "/"><input class= "button backButton" type = "button" value = "Back" /></a>

              <table id="students">
            <thead>
                <th>ID Number</th>
                <th>First name</th>
                <th>Middle name</th>
                <th>Last name</th>
                <th>Gender</th>
                <th>Course</th>
                <th>Year Level</th>
            </thead>

            {% for row in rows %}
                <tr>
                    <td>{{row["idno"]}}</td>
                    <td>{{row["firstn"]}}</td>
                    <td>{{row["midname"]}}</td>
                    <td>{{row["lastn"]}}</td>
                    <td>{{row["gnder"]}}</td>
                    <td>{{row["crse"]}}</td>
                    <td>{{row["yrLevel"]}}</td>

                </tr>
            {% endfor %}
          </table>

          </div>
  </body>
</html>



