<!doctype html>
<head>
    <title>Change</title>
       <link rel ='stylesheet' type="text/css" href="{{ url_for('static', filename ='addbg.css' )}}">
</head>
<html>
   <body>
   <div class="center">
        <form action="{{url_for('updating')}}" method = "post">
            <h1>Updating this Student</h1>
            {{ copied[0] }} ,{{ copied[1]}},{{ copied[2]}},{{ copied[3]}}, {{ copied[4]}}, {{ copied[5]}}-{{ copied[6]}}
            <br>
          ID Number
          <input type="text" placeholder="Re-eneter ID Number. DO NOT CHANGE" name = "idNo" maxlength="9" minlength="9" required><br>
          First name:
          <input type="text" placeholder="Update First Name" name="firstName" minlength="1" maxlength="24" required/><br>
          Middle name:
          <input type="text" placeholder="Update Middle Name" name="middName" minlength="1" maxlength="24" required/><br>
          Last name:
          <input type="text" placeholder="Update Last Name" name= "lastName" minlength="1" maxlength="24" required/><br>
         Gender:<br>
        <input type="radio" name="gender" value="Male" required> Male
         <input type="radio" name="gender" value="Female" required> Female
          <input type="radio" name="gender" value="Other" required> Other</br>

          Course:
          <input type="text" placeholder="Update Course" name= "course" minlength="1" maxlength="30" required/><br>
          Year Level:
          <input type="text" placeholder="Update Year Level"name= "yrLevel"min="1" max="5" required/>
         <br>
          <input type ="submit" value ="Update Student"/><br>

    </form>


   </div>

   </body>
</html>