<!DOCTYPE html>
<html>
<head>
        <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename ='index.css') }}">

</head>
<body>
<input class="button goHome" type="button" value="Home" onclick="window.location.href='/'" /><br>
    <div class="center">

    <h1> Manage Course </h1>
    <h1>Features</h1>
   <form>
         <input class="button MyButton" type="button" value="Add Course" onclick="window.location.href='/addcourse'" /><br>
        <input class="button MyButton1" type="button" value="Update Course" onclick="window.location.href='/updatecourse/'" /><br>
        <input class="button MyButton2" type="button" value="Delete Course" onclick="window.location.href='/deletecourse'" /><br>
        <input class="button MyButton3" type="button" value="Show All Courses" onclick="window.location.href='/showcourse'" /><br>

   </form>
    </div>



</body>
</html>