<!DOCTYPE html>
<html>
<head>
        <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename ='index.css') }}">

</head>
<body>
<input class="button goHome" type="button" value="Home" onclick="window.location.href='/'" /><br>
    <div class="center">

    <h1> Manage Student </h1>
    <h1>Features</h1>
   <form>
         <input class="button MyButton" type="button" value="Add a Student" onclick="window.location.href='/add'" /><br>
        <input class="button MyButton1" type="button" value="Update a Student" onclick="window.location.href='/update/'" /><br>
        <input class="button MyButton2" type="button" value="Delete a Student" onclick="window.location.href='/delete'" /><br>
        <input class="button MyButton3" type="button" value="Show All Students" onclick="window.location.href='/show'" /><br>


   </form>
    </div>



</body>
</html>