<!doctype HTML>
<html>
<head>
    <title>Update</title>
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'updating.css')}}">
</head>
  <body>
  <input class="button goHome" type="button" value="Home" onclick="window.location.href='/'" /><br>
  <div class="center">
      <h1>Update a Student</h1>
      <form action="{{url_for('update_course')}}" method = "post">

          Course ID:
          <input type="text" placeholder="Enter Course ID" name = "courseid" required><br>

          <input type = "submit" name = "Submit" /><br>

      </form>
        <table id="students">
         <thead>
            <th>Course ID</th>
            <th>Course Description</th>

         </thead>

         {% for row in rows %}
            <tr>
               <td>{{row["course_id"]}}</td>
               <td>{{row["coursedesc"]}}</td>


            </tr>
         {% endfor %}
        </table>
  <h1><a href = "/managecourse"><input class="button backButton" type = "button" value = "Cancel" /><br></a></h1>
  </div>
  </body>
</html>

